@import "normalize.css/normalize";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
