.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
}
.search {
  position: relative;
  width: 361px;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  border: 1.5px solid transparent;
  display: flex;

  input {
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    height: 100%;
    caret-color: var(--primary-color);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
  &::after {
    content: "";
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }
}
.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
}
.loading {
}
.search-btn {
  width: var(--search-button-width);
  height: 100%;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;

  &:hover {
    background-color: rgba(22, 24, 35, 0.1);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
